<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav" th:fragment="navbar">
    <div class="container">
        <h5>
            <p class="navbar-brand"><i class="fa-sharp fa-solid fa-eye"></i>Mắt Ngọc Hà</p>
            <p class="subtitle">Bảo vệ đôi mắt của bạn</p>
        </h5>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about">Giới thiệu</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#portfolio">Dịch vụ</a>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact">Hẹn lịch</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#" data-toggle="modal" data-target="#loginMdl">Đăng nhập</a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>